.intro {
	background-image: url('../images/1562095549.jpg');
	color: white;
	background-size: cover;
	padding: 100px 50px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #888888;
	text-align: center;
	margin-bottom: 50px;
}

.info {
	background-color: #888888;
	margin-top: -50px;
	text-align: center;
	min-height: 300px;
	padding-top: 100px;
}

.info a {
	margin-top: 100px;
	text-decoration: none;
	color: black;
}

.info a:hover {
	color: white;
}